$color: #222831;
$bgColor: #eaf6f6;

body {
    background-color: $bgColor;
}

.navigation-bar {
    margin: 10px;

    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        li {
            margin: 25px;
            font-size: 18px;
        }
    }
}


.restaurant {
    color: $color;
}